<section id="section-gallery">
  <div id="container">
    <div *ngFor="let photo of photos;" class="tile" (click)="onSelect(photo)"><!-- [class.selected]="photo === selectedPhoto" -->
        <!-- <div class="background-tile" style="background-image: url(' {{photo.media.m}} ');"> -->
        <div class="background-tile" [ngStyle]="{ 'background-image': 'url(' + photo.media.m + ')' }" >
          <!--
          <div class="hover-text">
            <span>{{photo.title}}</span>
            <br />
            {{photo.date_taken}}
          </div>
          -->
        </div>
    </div>
  </div>
</section>

<app-photo-detail [photo]="selectedPhoto"></app-photo-detail>
